################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*
!/**/
!*.*
/.vscode
/res
Results.json